<div style="text-align: center;">
  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label>Email address</label>
      <input #name="ngModel"required type="email" class="form-control" placeholder="Enter email" ngModel />
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        ngModel
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
